<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to personal website </h1>
    <button type="submit"><a href="signup/">SignUp</a></button>
    <button type="submit"><a href="signin/">Signin</a></button>
    <button type="submit"><a href="signout/">SignOut</a></button>
    <h2>welcome {{ request.session.una }}
</body>
</html>